#page{
	font-family: arvo;
	font-size: 2em;
	background-color: #b2ffe2;
	color: #3c3533;
}

.sector{
	width: 40%;
	margin-left: 7%;
	margin-top: 5%;
	text-align: center;
}

.sectorAdvertising{
	margin-top: 5%;
	width: 100%;
	padding-bottom: 0.9%;
}

.panelSector{
	padding: 9%;
	background-color: rgba(0, 0, 0, 0.1);
}

.clock{
	padding-left: 22%;
}

@font-face{
	font-family: funny;
	src: url('font/FunSized.ttf');
}

@font-face{
	font-family: arvo;
	src: url('font/Arvo-Regular.ttf');
}