#page{
	font-size: 15px;
	background-color: #5cbf98;
}

.sector{
	width: 35%;
	margin-left: 10%;
	margin-top: 5%;
	text-align: center;
	font-size: 2em;
}

.sectorAdvertising{
	margin-top: 5%;
	width: 100%;
	padding-bottom: 0.9%;
}

.sectorAdvertising .advertising{
	height: 100px;
}

.panelSector{
	padding: 9%;
}

.clock{
	padding-left: 22%;
}