body{
	font-family: funny;
}

h1{
	text-align: center;
	padding-top: 5%;
	font-size: 8em;
}

form{
	padding-top: 5%;
	padding-bottom: 15%;
}

.panel{
	margin-top: 10%;
	border-width: 3px;
	border-color: black;
	background-color: rgba(0, 0, 0, 0.2);
}

body{
	background-color: #5cbf98;
}

@font-face{
	font-family: funny;
	src: url('font/FunSized.ttf');
}