#page{
	padding-top: 5%;
	font-family: funny;
}

#divCall{
	padding-top: 5%;
}

#call{
	font-size: 5em;
}

.panel{
	background-color: #5cbf98;
	padding-top: 5%;
	padding-bottom: 10%;
}

#nombre{
	background-color: #5cbf98;
	text-align: center;
}

h1{
	text-align: center;
	font-size: 5em;
}

.divBot{
	padding-bottom: 5%;
	padding-top: 5%;
}

@font-face{
	font-family: funny;
	src: url('font/FunSized.ttf');
}