#page{
	font-size: 15px;
	padding: 10%;
	background-color: #5cbf98;
}

li{
	padding: 10%;
	text-decoration: none;
	text-align: center;
	font-size: 3em;
}

button{
	margin-top: 40%;
}

button p{
	font-size: 3em;
}


.panel{
	margin-top: 5%;
	border-width: 3px;
	border-color: black;
	padding: 5%;
	background-color: #5cbf98;
}